Source: plasma-look-and-feel-theme-mx
Section: system
Priority: extra
Maintainer: dolphin oracle <dolphinoracle@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1

Package: plasma-look-and-feel-theme-mx
Architecture: all
Depends: ${misc:Depends}
Description: misc plasma look & feel theme for mx linux
